*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 40px;
}

.box{
  height: 100px;
  width: 100px;
  background: deeppink;
  transition-duration: 1s;
  transition-delay: .5s;

}
.box:hover{
  background: red;
  width: 200px;

}